# Static network configuration.
d-i netcfg/get_gateway string 192.168.0.1
d-i netcfg/get_ipaddress string 192.168.0.2
d-i netcfg/get_nameservers string 8.8.8.8
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/use_dhcp string
d-i netcfg/disable_dhcp boolean true
# HACK: https://www.debian.org/releases/wheezy/i386/apbs04.html.en#preseed-network
d-i preseed/run string net-static.sh
